// Títulos (h1, h2...)
h1, h2, h3, h4, h5, h6 {
  color: #0d1b2a !important;  
}

// Links normais
a {
  color: #5244e0;  
}

// Links quando o mouse passa por cima
a:hover {
  color: #7a62ff;  
}

// Cor padrão do texto
body {
  color: #3b5ee4 !important;
}

