// Fontes personalizadas
body {
  font-family: 'Fira Mono', monospace;
  color: #3b5ee4 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand', cursive;
  color: #ff6f61 !important;
}

// Links
a {
  color: #5244e0;
}
a:hover {
  color: #7a62ff;
}

